article{
    display: flex;
    flex-direction: column;
    margin-top: -300px;
    margin-left: 150px;
    margin-right: 250px;
}
.list   {
    position: static;
    padding-left: 900px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
}
a{
    color: black;
}
.box{
    display: flex;
    background-color: blue;
    color: white
}